.vscode/settings.json
archive/Quantum Mechanics/.ipynb_checkpoints/Quantum Mechanics-checkpoint.ipynb
archive/Thermodynamics/.ipynb_checkpoints/Thermodynamics-checkpoint.ipynb
archive/Thermoelectricity/.ipynb_checkpoints/Thermoelectricity-checkpoint.ipynb
archive/Fourier Transform/.ipynb_checkpoints/Fourier Transform-checkpoint.ipynb
archive/Taylor Series/.ipynb_checkpoints/Taylor Series-checkpoint.ipynb
archive/Geometrical Optics/.ipynb_checkpoints/Geometrical Optics-checkpoint.ipynb
archive/Kalman Filter/.ipynb_checkpoints/Kalman Filter-checkpoint.ipynb
