.vscode/settings.json
Quantum Mechanics/.ipynb_checkpoints/Quantum Mechanics-checkpoint.ipynb
Thermodynamics/.ipynb_checkpoints/Thermodynamics-checkpoint.ipynb
Thermoelectricity/.ipynb_checkpoints/Thermoelectricity-checkpoint.ipynb
Fourier Transform/.ipynb_checkpoints/Fourier Transform-checkpoint.ipynb
Taylor Series/.ipynb_checkpoints/Taylor Series-checkpoint.ipynb
